<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musing">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pigeonicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pigeonicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Musing">
        <activity android:name=".activities.Onboarding"></activity>
        <activity android:name=".activities.onBoardingScreen"></activity>
        <activity android:name=".activities.RegisterScreen" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".music.Motivational" />
        <activity android:name=".music.Productivity" />
        <activity android:name=".music.FeelGood" />
        <activity android:name=".music.Rain" />
        <activity android:name=".music.BirdsChirping" />
        <activity android:name=".music.FocusMusic" />
        <activity android:name=".activities.UserProfile" />
        <activity android:name=".sessions.Session1" />
        <activity android:name=".sessions.Session2" />
        <activity android:name=".sessions.Session3" />
        <activity android:name=".sessions.Session4" />
        <activity android:name=".sessions.Session5" />
        <activity android:name=".sessions.Session6" />
        <activity android:name=".sleepSessions.SleepSession2" />
        <activity android:name=".sleepSessions.SleepSession1" />
        <activity android:name=".sleepSessions.SleepSession3" />
        <activity android:name=".sleepSessions.SleepSession4" />
        <activity android:name=".sleepSessions.SleepSession5" />
        <activity android:name=".sleepSessions.SleepSession6" />
        <activity android:name=".sleepReadings.SleepReading6" />
        <activity android:name=".sleepReadings.SleepReading2" />
        <activity android:name=".sleepReadings.SleepReading3" />
        <activity android:name=".sleepReadings.SleepReading4" />
        <activity android:name=".sleepReadings.SleepReading5" />
        <activity android:name=".sleepReadings.SleepReading1" />
        <activity android:name=".activities.SignInActivity" />
        <activity android:name=".activities.ParentActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>